<template name="_header">

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">
          <p style="text-align: center"><span class="site-title-small">南京外国语学校校友会</span><br><span class="site-title-x-large">黑 板 报</span></p>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav navbar-right">
            <li class="{{ isActiveRoute regex='home' }}">
              <a href="{{ pathFor 'home' }}">
                <i class="fa fa-home"></i> 首页
              </a>
            </li>

            <li class="{{ isActiveRoute regex='coding-group' }}">
              <a href="{{ pathFor 'coding-group' }}">
                <i class="fa fa-cube"></i> 建站
              </a>
            </li>

            <li class="{{ isActiveRoute regex='alumni' }}">
              <a href="{{ pathFor 'alumni' }}">
                <i class="fa fa-users"></i> 校友录
              </a>
            </li>

            <li class="{{ isActiveRoute regex='photos' }}">
              <a href="{{ pathFor 'photos' }}">
                <i class="fa fa-photo"></i> 照片
              </a>
            </li>

            <li class="{{ isActiveRoute regex='activities' }}">
              <a href="{{ pathFor 'activities' }}">
                <i class="fa fa-film"></i> 活动
              </a>
            </li>

            <li class="{{ isActiveRoute regex='dashboard' }}">
              <a href="{{ pathFor 'dashboard' }}">
                <i class="fa fa-gear"></i> 我的面板
              </a>
            </li>

            {{#if currentUser}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> {{ currentUser.profile.name }}
                <i class="fa fa-caret-down"></i>
              </a>

              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="{{ pathFor 'profile' }}">
                    <i class="fa fa-user"></i> 个人信息
                  </a>
                </li>

                <li>
                  <a href="#" data-action="logout" id="logout">
                    <i class="fa fa-lock"></i>登出
                  </a>
                </li>
              </ul>
            </li>
            {{else}}
            <div class="navbar-right">
              <a href="{{ pathFor 'signIn' }}" class="btn btn-default navbar-btn">
                登录
              </a>

              <a href="{{ pathFor 'signUp' }}" class="btn btn-primary navbar-btn">
                注册
              </a>
            </div>
            {{/if}}
          </ul>
      </div>
    </div>
  </nav>
</template>
