<template name="codingGroupHome">
  <div>
    <div class="page-header">
      <h1>南外建站学习小组的家</h1>
      <p>
        我们是一群来自世界各地的南外新老校友，
        组成志愿团队共同建立和维护南外校友相关的网站。
      </p>
      <p>
        我们本着开源软件社区的精神，利用最新的网站建设工具和理念
        一点一滴地建设和改进为我们校友自己服务的网上社区（欢迎访问
        <a href="http://www.github.com/nflsalumni">我们的GitHub</a>)。
      </p>
      <p>
        如果您是南外校友，对学习建站感兴趣（零基础，只需会一门编程语言即可），欢迎收看我们以前的视频录像，并<a href="mailto:nfls.alumni@gmail.com?Subject=建站学习小组报名">报名加入我们</a>！
      </p>
    </div>
    <div class="container">
      <div class="col-md-3">
        <h3>FAQ</h3>
        {{> postList faqs}}
      </div>
      <div class="col-md-3">
        <h3>最新更新文章</h3>
        {{> postList posts}}
      </div>
      <div class="col-md-3">
        <h3>会议和视频教程录像</h3>
        {{> postList meetings}}
      </div>
      <div class="col-md-3">
        <h3>建站大记事</h3>
        {{> postList milestones}}
      </div>
    </div>
  </div>
</template>

<template name="postList">
  {{#if this}}
  <ul>
    {{#each this}}
    <li><a href="{{pathFor 'blogShow'}}">{{title}}</a>
      <span class="post-meta">{{blogFormatDate publishedAt}}</span>
    </li>
    {{/each}}
  </ul>
  {{else}}
   &gt;暂无内容&lt;
  {{/if}}
</template>
