<template name="header">
  <header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">南外校友会黑板报</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/alumni">校友录</a>
        </li>
        <li>
          <a href="/photos">照片</a>
        </li>
        <li>
          <a href="/about">关于</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> accountButtons}}
     </ul>
   </nav>
 </div>
</header>
</template>
