<template name="codingGroupHome">
  <div>
    <div class="page-header">
      <h1>南外校友建站学习小组的家</h1>
      <p>
        我们是一群来自世界各地的南外新老校友，
        组成志愿团队共同建立和维护南外校友相关的网站。
      </p>
      <p>
        我们本着开源软件社区的精神，利用最新的网站建设工具和理念
        一点一滴地建设和改进为我们校友自己服务的网上社区（欢迎访问
        <a href="http://www.github.com/nflsalumni">我们的GitHub</a>)。
      </p>
      <p>
        如果您是南外校友，对学习建站感兴趣（零基础，只需会一门编程语言即可），欢迎收看我们以前的视频录像，并<a href="mailto:nfls.alumni@gmail.com?Subject=建站学习小组报名">报名加入我们</a>！
      </p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>重要链接</h3>
          <ul>
            <li><a href="https://docs.google.com/document/d/1R-7XA0u71zCJsGZahXGJf2gFbRhJuI68XOvu6ss6Mvc/edit#">小组章程</a></li>
            <li><a href="https://www.pivotaltracker.com/n/projects/1205934">项目管理页面</a></li>
            <li><a href="http://nflsdevs.slack.com/">Slack 团队协作通信（需邀请进入）</a></li>
            <li><a href="https://docs.google.com/document/d/1H0YBOyIt-2E4olQCRNyRNJtjjByb7rTq-KRrW3Rhye0/edit">网站需求文档</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>会议和视频教程录像</h3>
          {{> _postList posts=meetings tag='meeting'}}
        </div>
        <div class="col-md-4">
          <h3>FAQ</h3>
          {{> _postList posts=faqs tag='faq'}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3>最新更新文章</h3>
          {{> _postList posts=posts tag='post'}}
        </div>
        <div class="col-md-4">
          <h3>建站大记事</h3>
          {{> _postList posts=milestones tag='milestone'}}
        </div>
      </div>
    </div>
  </div>
</template>
