<template name="activities">
  <div>
    <div class="page-header">
      <h1>搜搜附近的活动（只是个壳子，还不work）</h1>
    </div>

    <form id="activitiesSearch" action="#" method="post">
      <div>
        选择城市:
        <select>
          <option value="nj">南京</option>
          <option value="volvo">上海</option>
          <option value="saab">北京</option>
          <option value="guangzhou">广州</option>
          <option value="chq">重庆</option>
        </select>
      </div>

      <div>
        选择日期:
        <input type="date" />
      </div>

      <input type="submit" value="Search">
    </form>

    <ul>
      <li>Activity 1.</li>
      <li>Activity 2.</li>
      <li>Activity 3.</li>
    </ul>
  </div>
</template>
